.headings{
    color:red
}
.paris-para{
background-color: beige;
}

#london-heading{
    background-color: pink;
}

span{
    padding: 5px; 
    border-top: 2px solid black;
    border-bottom: 4px solid grey;
}
p{
    border-style: 10px;
    border-color: lightgreen;
    border-width: ridge;
    margin: 5px;
}